body {
  margin: 0;
  font-family: Arial;
  background: #0d0d0d;
  color: white;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* TITLE */
.title {
  text-align: center;
  padding: 50px;
}

/* CONTAINER */
.container {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

/* INFO */
.info {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

form input, form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background: gold;
  border: none;
  cursor: pointer;
}
.extras{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  padding:40px;
}

.box{
  background:#1a1a1a;
  padding:20px;
  border-radius:10px;
  width:250px;
  text-align:center;
  transition:.4s;
}

.box:hover{
  transform:translateY(-8px);
}

@media(max-width:800px){

  .container{
    flex-direction:column;
    align-items:center;
    gap:30px;
  }

}
