*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
transition:0.4s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:#111827;
position:sticky;
top:0;
z-index:100;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

.hero{
height:100vh;
background:url("images/hero.jpg");
background-size:cover;
background-position:center;
}

.overlay{
height:100%;
background:rgba(0,0,0,.6);
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

.hero h1{
font-size:60px;
}

.hero button{
margin-top:20px;
padding:15px 30px;
border:none;
background:#00d4ff;
cursor:pointer;
font-size:18px;
border-radius:10px;
}

.stats{
display:flex;
justify-content:space-around;
padding:60px;
}

.stats h2{
font-size:50px;
color:#00d4ff;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
}

.card{
width:300px;
background:#1e293b;
padding:30px;
border-radius:20px;
text-align:center;
transition:.4s;
}

.card:hover{
transform:translateY(-15px);
}

.card i{
font-size:50px;
color:#00d4ff;
margin-bottom:15px;
}

.slider{
display:flex;
justify-content:center;
padding:40px;
}

.slider img{
width:700px;
border-radius:20px;
}

.testimonial{
padding:80px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
width:400px;
margin:auto;
gap:15px;
}

input,textarea{
padding:15px;
border:none;
border-radius:10px;
}

form button{
padding:15px;
background:#00d4ff;
border:none;
cursor:pointer;
border-radius:10px;
}

footer{
padding:30px;
text-align:center;
background:#111827;
margin-top:50px;
}

.light{
background:white;
color:black;
}